.homepage-background {
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .content {
    text-align: center;
    color: white;
  }
  
  .content h1 {
    font-size: 3rem;
  }
  
  .content form {
    margin-top: 2rem;
  }
  